
body{
  margin: 0px;
}

.button-holder{
	display: flex;
  width: 100%;
  align-items: center;
  justify-content: center;
  background-color: rgba(200,200,200,0.85);
  position:fixed;
}

.button-holder .title{
  padding-left:20px;
  padding-right:20px;
}

.btn-group button {
	display: block;
	font-size: 28px;
	font-family: 'Roboto', sans-serif;
	background-color: #707070;
	border-radius: 8px;
	border: 1px solid black; /* Green border */
	color: white; /* White text */
	padding: 10px ; /* Some padding */
	margin: 5px;
	cursor: pointer; /* Pointer/hand icon */
	float: left; /* Float the buttons side by side */
	box-shadow: -1px -1px 2px white;
}

/* Clear floats (clearfix hack) */
.btn-group:after {
  content: "";
  clear: both;
  display: table;
}

.btn-group button:not(:last-child) {
  border-right: none; /* Prevent double borders */
}

/* Add a background color on hover */
.btn-group button:hover { 
  background-color: #808080;
  box-shadow: 1px 1px 2px white;
}
/*
  .button {
  	width: 10px;
  	padding: 10px ;
  	background-color: grey;
  	border-radius: 5px;
  	box-shadow: -1px -1px 2px white;
  }
*/

#header {
	height: 50px;
	width: 100%;
	text-align:centered;
	margin: 0px auto;
}

.wrapper{
  width: 100%;
  height: 100%;
  /*position: fixed;*/
}

.full-page{
  /* Photo by mnm.all on Unsplash */
  background: url('images/lonesome-cases_23.jpg') center;
  background-size: cover;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
  }

.full-page h1{
  
  align-items: center;
  font-size: 4rem;
  padding-bottom: 1rem;
      text-align: center;
}

.landingPage{
  width: 100%;
  height: 100%;
  min-height: 100%;
  background-image: url("images/dollhouse-2-ambience.jpg");
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position:fixed;  
  z-index: -10;
}

.landingPageTitle{
  padding-top:20%;
  text-shadow: 0 0 5px #FFF, 0 0 10px #FFF, 0 0 15px #FFF, 0 0 20px #49ff18, 0 0 30px #49FF18, 0 0 40px #49FF18, 0 0 55px #49FF18, 0 0 75px #49ff18;
}
.landingPageSubhead{
  text-align:center;
  text-shadow: 0 0 5px #FFF, 0 0 10px #FFF, 0 0 15px #FFF, 0 0 20px #49ff18, 0 0 30px #49FF18, 0 0 40px #49FF18, 0 0 55px #49FF18, 0 0 75px #49ff18;
}

.mainPage {
	width: auto;
	height: 100%;
	min-height: 100%;
	background-image: url("images/lonesome-cases_23.jpg");
	background-position: center top;
	background-size: cover;
	background-repeat: no-repeat;
	flex-direction: column;
	justify-content: center;
	align-items: center;
  }

.main-holder {
	width: auto;
	height: 100%;
  text-align: center;
  display: flex;
}



.main-content{
  padding-top:100px;
  display: flex;
  width:auto;
  justify-content: center;
}

.middle-column{
  width: 70%;
  max-width:600px;
  padding:15px;
  display: block;
}

.middle-column img{
  max-width:100%;
  height: auto;
  padding: 0px;
  margin:0px;
  text-indent:0px;
}

iframe{
  display: block;
  width:100%;
  height: 90vh;

  padding: 0px;
  margin:0px;

  margin-top: -25vh;
  margin-bottom: -25vh;

  text-indent:0px;
}


.middle-column p{
  padding-bottom:1rem;
}

.picture-column{
  width: 20%;
  float: left;
  display: block;
}

.picture-column img{
  min-width:150px;
  height: auto;
}

/* Typography imported from Google Fonts */
@import url('https://fonts.googleapis.com/css?family=Playfair+Display|Source+Sans+Pro:200,400');

h1, h2, h3, h4, h5, h6 {
  font-family: 'Playfair Display', serif;
}

p, a {
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 1.25rem;
}

/* Generic styles */
html {
  scroll-behavior: smooth;
}

a {
  background-color: goldenrod;
  text-decoration: none;
  color: white;
  border-radius: .25rem;
  text-align: center;
  display: inline-block;
  transition: all .3s;
}

a:hover {
  opacity: .6;
}

/* Styles for the hero image */
.hero {
  /* Photo by mnm.all on Unsplash */
  background: url('images/lonesome-cases_23.jpg') center;
  background-size: cover;
  padding: 4rem 2rem;
  /* grid styles */
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
  align-items: center;
}

.hero > * {
  color: white;
}

.hero > h1 {
  font-size: 4rem;
  padding-bottom: 1rem;
}

.hero > article > p {
  font-size: 1.5rem;
  font-weight: 200;
}

.hero > article > a {
  padding: 1rem;
  margin-top: .75rem;
}

/* breweries styles */
.artcard {
  padding: 2rem;
}

.artcard > ul {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
  grid-gap: 1rem;
}

.artcard > ul > li {
  border: 1px solid #E2E2E2;
  border-radius: .5rem;
  list-style: none;
}

.artcard > ul > li > figure {
  max-height: 220px;
  overflow: hidden;
  border-top-left-radius: .5rem;
  border-top-right-radius: .5rem;
  position: relative;

    margin-block-start: 0em;
    margin-block-end: 0em;

    margin-inline-start: 0em;
    margin-inline-end: 0em;
}

.artcard > ul > li > figure > img {
  width: 100%;
  }

.artcard > ul > li > figure > figcaption {
  position: absolute;
  bottom: 0;
  background-color: rgba(0,0,0,.7);
  width: 100%;
}

.artcard > ul > li > figure > figcaption > h3 {
  color: white;
  padding: .75rem;
  font-size: 1.25rem;
}

.artcard > ul > li > p {
  font-size: 1.1rem;
  line-height: 1.5;
  padding: 1rem .75rem;
  color: #666666;
}

.artcard > ul > li > a {
  padding: .5rem 1rem;
  margin: .5rem;
}

.middle {
  margin-top:-25%;
}

.bottom {
  margin-top: -50%;
}

.top{
  margin-top: 0px;
}

/* footer */
footer {
  background-color: #333;
  padding: .75rem;
  color: white;
  text-align: center;
  font-size: .75rem;
}
