@charset "UTF-8";
/* CSS Document */

body, html{
    margin:0;
    padding:0;
}

body{
	margin-left: 0px;
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
	background-color: #333333;
	font-family: Arial, Helvetica, sans-serif;
	background-image: url(images/wall5.gif);
	min-width: fit-content;
}

.logo {
	width: 70px;
	left: 100px;
	top: 25px;
	z-index: 50;
	position: absolute;
	height: 166px;
}

.monaframe {
	z-index: 100;
	height: 300px;
	width: 300px;
	left: 70px;
	top: 50px;
	position: absolute;
}
.creative {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 24px;
	font-style: normal;
	font-weight: normal;
	position: absolute;
	left: 50px;
	top: 50px;
	z-index: 30;
	color: #CC9933;
}

#outerdiv 
{
  position:absolute;
  left:50%;
  width: 800px;
} 


#innerdiv
{
	border: 1px solid #B3B5B7;
	position: relative;
	left: -430px;
	overflow: visible;
	margin-left: auto;
	margin-right: auto;
	height: 450px;
	width: 400px;
	text-align: left;
	top: 105px;
	background-color: #FFFFFF;
	margin-top: 0px;
	font-family: Arial, Helvetica, sans-serif;
	color: #000000;
	box-shadow: 0px 0px 17px 2px #000;
}
.green
{
  background-color: #93bd3e;
  color: #383838;
}
#topWrapper
{
	position: relative;
}
#logo
{
	position: relative;
	top: 0px;
	left: 0px;
	width: 800px;
	height: 112px;
	cursor: pointer;
}
#where
{
  position: absolute;
  top: 30px;
  right: 90px;
}
#locTbl
{
  font-family: Arial, Helvetica, sans-serif;
  font-size: 13px;
  font-weight: normal;
  border-spacing: 0px;
  color: #333333;
  line-height: 13px;
}
#content
{
  position: absolute;
  top: 112px;
  left: 0px;
  background-image: url('../images/fall_bgimage.jpg');
  width: 860px;
  height: 580px;
}
#contentb
{
	position: absolute;
	top: 36px;
	left: -429px;
	width: 800px;
	height: 75px;
	font-size: 45px;
	color: #000;
	z-index: 90;
	font-family: "Times New Roman", Times, serif;
	text-align: center;
	text-shadow: 0px 0px;
	vertical-align: middle;
}

#vertline
{
	position: absolute;
	top: 29px;
	left: 371px;
	width: 2px;
	height: 160px;
	font-size: 20px;
	color: #FFF;
	z-index: 90;
	font-family: Arial, Helvetica, sans-serif;
	text-align: justify;
	font-weight: bold;
	background-color: #C93;
}

#facebook
{
	position: absolute;
	top: 29px;
	left: 50px;
	width: 50px;
	z-index: 100;
}

#contentd
{
	position: absolute;
	top: 100px;
	left: 140px;
	width: 500px;
	height: 300px;
	font-size: 20px;
	color: #FFF;
	z-index: 90;
	font-family: Arial, Helvetica, sans-serif;
	text-align: justify;
	font-weight: bold;
}

#contente
{
	position: absolute;
	top: 164px;
	left: 419px;
	width: 368px;
	height: 213px;
	font-size: 60px;
	color: #FFFFFF;
	z-index: 50;
	font-family: "Times New Roman", Times, serif;
	text-align: justify;
	font-weight: normal;
	text-align: left;
	text-shadow: 0px 0px;
}

#contentc
{
	position: absolute;
	top: 464px;
	left: 0px;
	width: 810px;
	height: 24px;
	font-size: 18px;
	color: #000;
	z-index: 90;
	font-family: Arial, Helvetica, sans-serif;
	text-align: center;
	vertical-align: middle;
	box-shadow: 0px 0px;
	font-weight: lighter;
}

#access
{
  font-family: Arial, Helvetica, sans-serif;
  font-size: 44px;
  color: #FFFFFF;
  position: absolute;
  top: 20px;
  left: 440px;
  display: none;
}
.text
{
	font-family: Arial, Helvetica, sans-serif;
	font-size: 15px;
	color: #CCCCCC;
	float: none;
	padding-top: 2px;
	padding-bottom: 2px;
	padding-left: 12px;
	text-align: left;
	font-weight: lighter;
	white-space: normal;
}
.textForm
{
  font-family: Arial, Helvetica, sans-serif;
  font-size: 14px;
  color: #000000;
  float: none;
  padding-top: 2px;
  padding-bottom: 2px;
  height: 32px;
}
.textHead
{
	font-family: Arial, Helvetica, sans-serif;
	font-size: 20px;
	color: #CC9933;
	float: none;
	padding-top: 12px;
	padding-bottom: 4px;
	z-index: 0;
	font-weight: normal;
}
.inputText
{
  font-family: Arial, Helvetica, sans-serif;
  font-size: 14px;
  color: #000000;
  background-color: #93bd3e;
  width: 280px;
}
.inputTextArea
{
  font-family: Arial, Helvetica, sans-serif;
  font-size: 14px;
  color: #000000;
  background-color: #93bd3e;
  width: 500px;
  height: 90px;
}
.dlrs
{
  font-family: Arial, Helvetica, sans-serif;
  font-size: 14px;
  color: #000000;
  position: relative;
  left: 160px;
  top: 30px;
  width: 160px;
}
.dlrsChiro
{
  font-family: Arial, Helvetica, sans-serif;
  font-size: 14px;
  color: #000000;
  position: relative;
  left: 80px;
  top: 30px;
  width: 320px;
}
.dlr
{
  border: thin solid #808080;
}
.dlrLft
{
  padding: 2px;
  border: thin solid #808080;
  color: #000000;
}
.dlrRt
{
  padding: 2px;
  border: thin solid #808080;  
  color: #000000;
}
.hours
{
  font-family: Arial, Helvetica, sans-serif;
  font-size: 14px;
  color: #000000;
  position: relative;
  left: 100px;
  top: 30px;
  width: 300px;
}
.panel
{
	border: 1px solid #FFF;
	padding: 20px;
	position: absolute;
	top: 0px;
	left: 410px;
	width: 360px;
	height: 410px;
	background-color: #000000;
	overflow: auto;
	z-index:100;
	box-shadow: 0px 0px 17px 2px #000;
}
#mapCanvas
{
  border: 2px solid #333333;
  height: 330px;
  width: 480px;
  top: 4px;
  left: 4px;
  z-index: 999;
}
.submit
{
  cursor: pointer;
}
.magic
{
  padding: 4px 0px 4px 12px;
  font-weight: normal;
  font-size: 14px;
  font-family: Arial, Helvetica, sans-serif;
  text-decoration: none;
  background-color: #B8D57D;
  display:none;
}
#linkLeft
{
	position: absolute;
	top: -93px;
	width: 215px;
	height: 120px;
	padding: 10;
	left: 148px;
	border-right-width: thin;
}
#links
{
	position: relative;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 16px;
	color: #FFFFFF;
	top: 12px;
	padding-right: 12px;
	text-align: right;
}
.link
{
  margin-right: 2px;
  margin-top: 2px;  
}
.subLink
{
  font-family: Arial, Helvetica, sans-serif;
  font-size: 14px;
  color: #ffffff;
  float: none;
  cursor: pointer;
  z-index: 100;
}
.subLink:hover
{
  color: #000000;
}
.vertLine
{
  font-size: 14px;
  color: #ffffff;
}
#whatLink
{
  display:none;
  position: absolute;
  top: 24px;
  left: 172px;
  width: 620px;
  height: 24px;
  background-color: #93bd3e;
  border-left: 30px;
  border-left-style: solid;
  border-left-color: #93bd3e;
  z-index: 100;
}
#whatLinkTbl
{
  font-family: Arial, Helvetica, sans-serif;
  font-size: 14px;
  color: #ffffff;
  z-index: 100;
}
.heading
{
  color: #000000;
}


a
{
	margin-top: 2px;
	text-decoration: none;
	color: #FFFFFF;
}
a:hover
{
	color: #CC9933;
}
a.email
{
  color: #000000;
  float: inherit;
}
a.email:hover
{
	color: #CC9900;
	cursor: pointer;
}


/* On screens that are 600px wide or less, stack the "panels" above each other */
@media screen and (max-width: 600px) {
  
  .panel
	{
		border: 1px solid #FFF;
		padding: 20px;
		position: absolute;
		top: 225px;
		left: 0px;
		width: 360px;
		height: auto;
		min-height: 300px;
		background-color: #000000;
		overflow: auto;
		z-index:100;
		box-shadow: 0px 0px 17px 2px #FFF;
	}
	/* place "creative solutions and strategies" over hands */
	#contente
	{
		position: absolute;
		
		left: 25px;
		width: 368px;
		height: 213px;
		font-size: 60px;
		color: #FFFFFF;
		z-index: 50;
		font-family: "Times New Roman", Times, serif;
		text-align: justify;
		font-weight: normal;
		text-align: left;
		text-shadow: 0px 0px 5px 2px #000;
	}
#innerdiv{
	left: 0;
	margin: auto;
		top: 50;
}

	#outerdiv{
		left: 0;
		position: absolute;
		margin-left:  auto;
		width: auto;
		text-align: centre;
	}
	#contentb{
		width:  auto;
		margin:  auto;
		left: 0%;
		font-size:  30px;
		position: relative;
	}
	#contentc{
		width: auto;
	}
}